<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="author" content="wangxing">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no">
    <title>wepiaoui</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/doc.css"/>
    <link rel="stylesheet" href="/css/highlight/github.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
    <div class="content clearfix">
        <div class="fl content-left">
            <div class="code-block">
                <h1>基本样式</h1>
                <h2>按钮</h2>
                <p>绿色实体按钮</p>
                <div class="demo">
                    <div class="demo-content">
                        <button type="button" class="button button-green">绿色按钮</button>
                    </div>
                    <div class="demo-code">
                        <pre class="javascript">
                            <code>
                                var s="123";
                                var s="123";
                                var s="123";
                                var s="123";
                                var s="123";
                                var s="123";
                            </code>
                        </pre>
                    </div>
                </div>
            </div>


        </div>
        <div class="fl content-right">

        </div>
    </div>
    <script src="/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/js/lib/highlight.pack.js"></script>
    <script>
        (function(){
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        })();
    </script>
</body>
</html>