<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="author" content="wangxing">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no">
    <title>wepiaoui</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/syntaxhighlighter/shCore.css"/>
    <link rel="stylesheet" href="/css/syntaxhighlighter/shThemeEclipse.css"/>
    <link rel="stylesheet" href="/css/doc.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
    <div class="content clearfix">
        <div class="fl content-left">
            <div class="code-block">
                <h1>基本样式</h1>
                <!--按钮样式-->
                <div>
                    <h2>按钮</h2>
                    <p>绿色实体按钮</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" class="button button-green">绿色按钮</button>
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <button type="button" class="button button-green">绿色按钮</button>
                        </pre>
                        </div>
                    </div>
                    <p>绿色空心按钮</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" class="button button-green-hollow">绿色按钮</button>
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <button type="button" class="button button-green-hollow">绿色按钮</button>
                        </pre>
                        </div>
                    </div>
                </div>
                <!--input样式-->
                <div>
                    <h2>文本框</h2>
                    <p>断的文本框</p>
                    <div class="demo">
                        <div class="demo-content">
                            <input type="text" class="input">
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <input type="text" class="input">
                        </pre>
                        </div>
                    </div>
                    <p>带时间选择样式的文本框</p>
                    <div class="demo">
                        <div class="demo-content">
                            <input type="text" class="input date-input">
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <input type="text" class="input date-input">
                            </pre>
                        </div>
                    </div>
                </div>
                <!--下拉框-->
                <div>
                    <h2>下拉框</h2>
                    <div class="demo">
                        <div class="demo-content">
                            <select class="select">
                                <option>1111111111</option>
                                <option>1222222222</option>
                                <option>1333333333</option>
                                <option>144444444</option>
                            </select>
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <select class="select"></select>
                        </pre>
                        </div>
                    </div>
                </div>
                <h1>组合样式</h1>
                <!--面包屑-->
                <div>
                    <h2>面包屑</h2>
                    <div class="demo">
                        <div class="demo-content">
                            <ol class="ui-breadcrumb clearfix">
                                <li><a class="ui-breadcrumb-link" href="#" >管理后台</a></li>
                                <li><a class="ui-breadcrumb-link" href="#" >订单管理</a></li>
                                <li>查询列表</li>
                            </ol>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <ol class="ui-breadcrumb clearfix">
                                    <li><a class="ui-breadcrumb-link" href="#" >管理后台</a></li>
                                    <li><a class="ui-breadcrumb-link" href="#" >订单管理</a></li>
                                    <li>查询列表</li>
                                </ol>
                            </pre>
                        </div>
                    </div>
                </div>

                <!--表格-->
                <div>
                    <h2>表格</h2>
                    <p>什么都不带的表格</p>
                    <div class="demo">
                        <div class="demo-content">
                            <table class="tb">
                                <thead class="tb-head">
                                    <tr>
                                        <td>列1</td>
                                        <td>列2</td>
                                        <td>列3</td>
                                        <td>列4</td>
                                        <td>列5</td>
                                        <td>列6</td>
                                    </tr>
                                </thead>
                                <tbody class="tb-body">
                                    <tr>
                                        <td>列1</td>
                                        <td>列2</td>
                                        <td>列3</td>
                                        <td>列4</td>
                                        <td>列5</td>
                                        <td>列6</td>
                                    </tr>
                                    <tr>
                                        <td>列1</td>
                                        <td>列2</td>
                                        <td>列3</td>
                                        <td>列4</td>
                                        <td>列5</td>
                                        <td>列6</td>
                                    </tr>
                                    <tr>
                                        <td>列1</td>
                                        <td>列2</td>
                                        <td>列3</td>
                                        <td>列4</td>
                                        <td>列5</td>
                                        <td>列6</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <table class="tb">
                                    <thead class="tb-head">
                                        <tr>
                                            <td>列1</td>
                                            <td>列2</td>
                                            <td>列3</td>
                                            <td>列4</td>
                                            <td>列5</td>
                                            <td>列6</td>
                                        </tr>
                                    </thead>
                                    <tbody class="tb-body">
                                        <tr>
                                            <td>列1</td>
                                            <td>列2</td>
                                            <td>列3</td>
                                            <td>列4</td>
                                            <td>列5</td>
                                            <td>列6</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </pre>
                        </div>
                    </div>

                    <p>带操作按钮的表格</p>
                    <div class="demo">
                        <div class="demo-content">
                            <table class="tb">
                                <thead class="tb-head">
                                <tr>
                                    <td>列1</td>
                                    <td>列2</td>
                                    <td>列3</td>
                                    <td>列4</td>
                                    <td>列5</td>
                                    <td>列6</td>
                                </tr>
                                </thead>
                                <tbody class="tb-body">
                                <tr>
                                    <td>列1</td>
                                    <td>列2</td>
                                    <td>列3</td>
                                    <td>列4</td>
                                    <td>列5</td>
                                    <td><a class="tb-body-action" href="javascript:;">操作</a></td>
                                </tr>
                                <tr>
                                    <td>列1</td>
                                    <td>列2</td>
                                    <td>列3</td>
                                    <td>列4</td>
                                    <td>列5</td>
                                    <td><a class="tb-body-action" href="javascript:;">操作</a></td>
                                </tr>
                                <tr>
                                    <td>列1</td>
                                    <td>列2</td>
                                    <td>列3</td>
                                    <td>列4</td>
                                    <td>列5</td>
                                    <td><a class="tb-body-action" href="javascript:;">操作</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <table class="tb">
                                    <thead class="tb-head">
                                        <tr>
                                            <td>列1</td>
                                            <td>列2</td>
                                            <td>列3</td>
                                            <td>列4</td>
                                            <td>列5</td>
                                            <td>列6</td>
                                        </tr>
                                    </thead>
                                    <tbody class="tb-body">
                                        <tr>
                                            <td>列1</td>
                                            <td>列2</td>
                                            <td>列3</td>
                                            <td>列4</td>
                                            <td>列5</td>
                                            <td><a class="tb-body-action" href="javascript:;">操作</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="fl content-right">

        </div>
    </div>
    <script src="js/lib/jquery-1.11.3.min.js"></script>
    <script src="js/lib/syntaxhighlighter/shCore.js"></script>
    <script src="js/lib/syntaxhighlighter/shBrushJScript.js"></script>
    <script src="js/lib/syntaxhighlighter/shBrushXml.js"></script>
    <script src="js/lib/syntaxhighlighter/shBrushCss.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.config.clipboardSwf = 'js/lib/syntaxhighlighter/clipboard.swf';
        SyntaxHighlighter.all();
    </script>
</body>
</html>