<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="author" content="wangxing">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no">
    <title>wepiaoui</title>
    <link rel="stylesheet" href="/css/lib/ui-dialog.css"/>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/syntaxhighlighter/shCore.css"/>
    <link rel="stylesheet" href="/css/syntaxhighlighter/shThemeEclipse.css"/>
    <link rel="stylesheet" href="/css/doc.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
    <div class="content clearfix">
        <div class="fl content-left">
            <div class="code-block">
                <h1>基本样式</h1>
                <!--按钮样式-->
                <div>
                    <h2>文字颜色</h2>
                    <p>几种常见的颜色</p>
                    <div class="demo">
                        <div class="demo-content">
                            <div class="color-gray">这里是灰色的字</div>
                            <div class="color-green">这里是绿色的字</div>
                            <div class="color-red">这里是红色的字</div>
                            <div class="color-black">这里是黑色的字</div>
                            <div class="color-blue">这里是蓝色的字</div>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <p class="color-gray">这里是灰色的字</p>
                                <p class="color-green">这里是绿色的字</p>
                                <p class="color-red">这里是红色的字</p>
                                <p class="color-black">这里是黑色的字</p>
                                <p class="color-blue">这里是蓝色的字</p>
                            </pre>
                        </div>
                    </div>
                    <h2>按钮</h2>
                    <p>绿色实体按钮</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" class="button button-green">绿色按钮</button>
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <button type="button" class="button button-green">绿色按钮</button>
                        </pre>
                        </div>
                    </div>
                    <p>绿色空心按钮</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" class="button button-green-hollow">绿色按钮</button>
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <button type="button" class="button button-green-hollow">绿色按钮</button>
                        </pre>
                        </div>
                    </div>
                    <p>灰色的按钮</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" class="button button-gray">灰色按钮</button>
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <button type="button" class="button button-gray">灰色按钮</button>
                        </pre>
                        </div>
                    </div>
                    <p>被禁用的按钮</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" disabled="disabled" class="button button-green">被禁用的按钮</button>
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <button type="button" disabled="disabled" class="button button-green">被禁用的按钮</button>
                        </pre>
                        </div>
                    </div>
                </div>
                <!--链接样式-->
                <div>
                    <a class="anchor"></a>
                    <h2>链接</h2>
                    <p>蓝色链接</p>
                    <div class="demo">
                        <div class="demo-content">
                            <a href="javascript:;" class="link-blue">蓝色链接</a>
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <a href="javascript:;" class="link-blue">蓝色链接</a>
                        </pre>
                        </div>
                    </div>

                </div>
                <!--input样式-->
                <div>
                    <a class="anchor"></a>
                    <h2>文本框</h2>
                    <p>短的文本框</p>
                    <div class="demo">
                        <div class="demo-content">
                            <input type="text" class="input">
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                               <input type="text" class="input">
                        </pre>
                        </div>
                    </div>
                    <p>带时间选择样式的文本框</p>
                    <div class="demo">
                        <div class="demo-content">
                            <input type="text" class="input date-input">
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <input type="text" class="input date-input">
                            </pre>
                        </div>
                    </div>
                    <p>表单中的超大超高文本框</p>
                    <div class="demo">
                        <div class="demo-content">
                            <input type="text" class="input big">
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                   <input type="text" class="input big">
                            </pre>
                        </div>
                    </div>
                </div>

                <!--时间选择 -->
                <div>
                    <h2>时间选择</h2>
                    <p>时间选择采用开源免费，轻量的laydate，<a class="color-gray" target="_blank" href="http://sentsin.com/layui/laydate/">查看api</a></p>
                    <p>只要在input中加入类名date-input-date就能打开时间选择，选择日期</p>
                    <div class="demo">
                        <div class="demo-content">
                            <input type="text" class="input date-input date-input-date">
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                            <input type="text" class="input date-input date-input-date">
                        </pre>
                        </div>
                    </div>
                    <p>只要在input中加入类名date-input-datetime就能打开时间选择，选择时分秒</p>
                    <div class="demo">
                        <div class="demo-content">
                            <input type="text" class="input date-input date-input-datetime">
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                            <input type="text" class="input date-input date-input-datetime">
                        </pre>
                        </div>
                    </div>
                    <p>在有限制日期中间取值的情况下，有开始日期和结束日期的情况下只要在开始时间的input上加上id="start"结束时间加上id="end"，就可以做限制，
                        如果单个页面上有多个这样的情况的时候需要自己写js。</p>
                    <div class="demo">
                        <div class="demo-content ">
                            <div class="clearfix">
                                <input type="text" id="start" class="input date-input fl">
                                <p class="fl">&#12288;</p>
                                <input type="text" id="end" class="input date-input fl">
                            </div>
                        </div>
                        <div class="demo-code">
                        <pre class="brush:html">
                            <input type="text" id="start " class="input date-input">
                            <input type="text" id="end " class="input date-input">
                        </pre>
                        </div>
                    </div>
                </div>
                <!--下拉框-->
                <div>
                    <a class="anchor"></a>
                    <h2>下拉框</h2>
                    <p>标准的下拉框</p>
                    <div class="demo">
                        <div class="demo-content">
                            <select class="select">
                                <option>1111111111</option>
                                <option>1222222222</option>
                                <option>1333333333</option>
                                <option>144444444</option>
                            </select>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                   <select class="select"></select>
                            </pre>
                        </div>
                    </div>

                    <p>巨大的下拉框</p>
                    <div class="demo">
                        <div class="demo-content">
                            <select class="select big">
                                <option>1111111111</option>
                                <option>1222222222</option>
                                <option>1333333333</option>
                                <option>144444444</option>
                            </select>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                   <select class="select big"></select>
                            </pre>
                        </div>
                    </div>
                </div>
                <!--checkbox-->
                <div>
                    <a class="anchor"></a>
                    <h2>checkbox</h2>
                    <p>标准的checkbox</p>
                    <div class="demo">
                        <div class="demo-content">
                            <label class="ui-checkbox clearfix">
                                <input type="checkbox" >
                                <i class="ui-checkbox-icon"></i>
                                这里是checkbox
                            </label>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                   <label class="ui-checkbox clearfix">
                                       <input type="checkbox" >
                                       <i class="ui-checkbox-icon"></i>
                                       这里是checkbox
                                   </label>
                            </pre>
                        </div>
                    </div>
                    <p>多个checkbox</p>
                    <div class="demo">
                        <div class="demo-content">
                            <div class="clearfix ui-checkbox-group">
                                <label class="ui-checkbox">
                                    <input type="checkbox" >
                                    <i class="ui-checkbox-icon"></i>
                                    这里是checkbox
                                </label>
                                <label class="ui-checkbox">
                                    <input type="checkbox" >
                                    <i class="ui-checkbox-icon"></i>
                                    这里是checkbox
                                </label>
                                <label class="ui-checkbox">
                                    <input type="checkbox" >
                                    <i class="ui-checkbox-icon"></i>
                                    这里是checkbox
                                </label>
                            </div>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <div class="clearfix ui-checkbox-group">
                                    <label class="ui-checkbox">
                                        <input type="checkbox" >
                                        <i class="ui-checkbox-icon"></i>
                                        这里是checkbox
                                    </label>
                                    <label class="ui-checkbox">
                                        <input type="checkbox" >
                                        <i class="ui-checkbox-icon"></i>
                                        这里是checkbox
                                    </label>
                                    <label class="ui-checkbox">
                                        <input type="checkbox" >
                                        <i class="ui-checkbox-icon"></i>
                                        这里是checkbox
                                    </label>
                                </div>
                            </pre>
                        </div>
                    </div>
                </div>

                <!--radio-->
                <div>
                    <a class="anchor"></a>
                    <h2>radio</h2>
                    <p>标准的radio</p>
                    <div class="demo">
                        <div class="demo-content">
                            <label class="ui-radio clearfix">
                                <input name="radio" type="radio" >
                                <i class="ui-radio-icon"></i>
                                这里是radio
                            </label>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                   <label class="ui-radio clearfix">
                                       <input name="radio" type="radio" >
                                       <i class="ui-radio-icon"></i>
                                       这里是radio
                                   </label>
                            </pre>
                        </div>
                    </div>
                    <p>多个radio</p>
                    <div class="demo">
                        <div class="demo-content">
                            <div class="clearfix ui-radio-group">
                                <label class="ui-radio clearfix">
                                    <input name="radio" type="radio" >
                                    <i class="ui-radio-icon"></i>
                                    这里是radio
                                </label>
                                <label class="ui-radio clearfix">
                                    <input name="radio" type="radio" >
                                    <i class="ui-radio-icon"></i>
                                    这里是radio
                                </label>
                                <label class="ui-radio clearfix">
                                    <input name="radio" type="radio" >
                                    <i class="ui-radio-icon"></i>
                                    这里是radio
                                </label>
                                <label class="ui-radio clearfix">
                                    <input name="radio" type="radio" >
                                    <i class="ui-radio-icon"></i>
                                    这里是radio
                                </label>
                            </div>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <div class="clearfix ui-radio-group">
                                    <label class="ui-radio">
                                        <input type="radio" >
                                        <i class="ui-radio-icon"></i>
                                        这里是checkbox
                                    </label>
                                    <label class="ui-radio">
                                        <input type="radio" >
                                        <i class="ui-radio-icon"></i>
                                        这里是checkbox
                                    </label>
                                    <label class="ui-radio">
                                        <input type="radio" >
                                        <i class="ui-radio-icon"></i>
                                        这里是checkbox
                                    </label>
                                </div>
                            </pre>
                        </div>
                    </div>
                </div>

                <!--图片上传-->
                <div>
                    <h2>图片上传</h2>
                    <p></p>
                    <div class="demo">
                        <div class="demo-content">
                            <div data-h="330" data-w="450" data-size="300000000" data-ext="jpg,png"  class="ui-image-upload">
                                <img src="" class="ui-image-upload-img" />
                                <input type="file" class="ui-image-upload-file">
                                <p class="ui-image-upload-tip color-gray">这里是提示</p>
                            </div>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <!--data-h属性定义预览图以及选择框的高度，默认是60px-->
                                <!--data-w属性定义预览图以及选择框的宽度，默认是60px-->
                                <!--data-size属性定义文件上传的限制大小，没传就不做限制-->
                                <!--data-ext属性定义文件上传的类型，用英文状态下的逗号隔开-->
                                <div data-h="330" data-w="450" data-size="300000000" data-ext="jpg,png"  class="ui-image-upload">
                                    <img src="" class="ui-image-upload-img" />
                                    <input type="file" class="ui-image-upload-file">
                                    <p class="ui-image-upload-tip">这里是提示</p>
                                </div>
                            </pre>
                        </div>
                    </div>
                </div>

                <h1>组合样式</h1>
                <!--面包屑-->
                <div>
                    <a class="anchor"></a>
                    <h2>面包屑</h2>
                    <p>自己写的面包屑</p>
                    <div class="demo">
                        <div class="demo-content">
                            <ol class="ui-breadcrumb clearfix">
                                <li><a class="ui-breadcrumb-link" href="#" >管理后台</a></li>
                                <li><a class="ui-breadcrumb-link" href="#" >订单管理</a></li>
                                <li>查询列表</li>
                            </ol>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <ol class="ui-breadcrumb clearfix">
                                    <li><a class="ui-breadcrumb-link" href="#" >管理后台</a></li>
                                    <li><a class="ui-breadcrumb-link" href="#" >订单管理</a></li>
                                    <li>查询列表</li>
                                </ol>
                            </pre>
                        </div>
                    </div>
                    <p>Yii的面包屑</p>
                    <div class="demo">
                        <div class="demo-content">
                            <ol class="ui-breadcrumb clearfix">
                                <li><a class="ui-breadcrumb-link" href="#" >管理后台</a></li>
                                <li><a class="ui-breadcrumb-link" href="#" >订单管理</a></li>
                                <li>查询列表</li>
                            </ol>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <ol class="ui-breadcrumb clearfix">
                                    <li><a class="ui-breadcrumb-link" href="#" >管理后台</a></li>
                                    <li><a class="ui-breadcrumb-link" href="#" >订单管理</a></li>
                                    <li>查询列表</li>
                                </ol>
                            </pre>
                        </div>
                    </div>
                </div>

                <!--省市区三级联动-->
                <div>
                    <a class="anchor"></a>
                    <h2>省市区三级联动</h2>
                    <p>ddl-province中的option需要通过php自己组织数据，js中执行$("#id").chinaData()即可，后面两个会用js自己填充数据</p>
                    <div class="demo">
                        <div class="demo-content">
                            <div id="id" class="clearfix">
                                <select class="ddl-province select"></select>
                                <select class="ddl-city select"></select>
                                <select class="ddl-county select"></select>
                            </div>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                               <div id="id" class="clearfix">
                                   <select class="ddl-province select"></select>
                                   <select class="ddl-city select"></select>
                                   <select class="ddl-county select"></select>
                               </div>
                            </pre>
                        </div>
                    </div>
                </div>
                <!--查询条件-->
                <div>
                    <h2>查询条件</h2>
                    <div class="demo">
                        <div class="demo-content">
                            <form class="form-search">
                                <div class="search-row clearfix">
                                    <span class="fl">条件1</span>
                                    <input type="text" class="input fl mar-right-10" />
                                    <span class="fl">条件2</span>
                                    <input type="text" class="input fl mar-right-10" />
                                </div>
                                <div class="search-row clearfix">
                                    <span class="fl">条件3</span>
                                    <input type="text" class="input fl mar-right-10" />
                                    <span class="fl">条件4</span>
                                    <input type="text" class="input fl mar-right-10" />
                                </div>
                                <button class="button button-green">查询</button>
                            </form>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <form class="form-search">
                                    <div class="search-row clearfix">
                                        <span class="fl">条件1</span>
                                        <input type="text" class="input fl mar-right-10" />
                                        <span class="fl">条件2</span>
                                        <input type="text" class="input fl mar-right-10" />
                                    </div>
                                    <div class="search-row clearfix">
                                        <span class="fl">条件3</span>
                                        <input type="text" class="input fl mar-right-10" />
                                        <span class="fl">条件4</span>
                                        <input type="text" class="input fl mar-right-10" />
                                    </div>
                                    <button class="button button-green">查询</button>
                                </form>
                            </pre>
                        </div>
                    </div>
                </div>
                <!--tab标签-->
                <div>
                    <h2>tab标签</h2>
                    <div class="demo">
                        <div class="demo-content">
                            <div class="ui-tab clearfix">
                                <ul class="ui-tab-head clearfix">
                                    <li class="active"><a href="javascript:;">标签1</a></li>
                                    <li><a href="javascript:;">标签2</a></li>
                                    <li><a href="javascript:;">标签3</a></li>
                                </ul>
                                <ul class="ui-tab-body clearfix">
                                    <li class="active"><a href="javascript:;">标签1</a></li>
                                    <li><a href="javascript:;">标签2</a></li>
                                    <li><a href="javascript:;">标签3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <div class="ui-tab clearfix">
                                    <!--tab头部-->
                                    <ul class="ui-tab-head clearfix">
                                        <li class="active"><a href="javascript:;">标签1</a></li>
                                        <li><a href="javascript:;">标签2</a></li>
                                        <li><a href="javascript:;">标签3</a></li>
                                    </ul>
                                    <!--tab装内容的地方-->
                                    <ul class="ui-tab-body clearfix">
                                        <li class="active"><a href="javascript:;">标签1</a></li>
                                        <li><a href="javascript:;">标签2</a></li>
                                        <li><a href="javascript:;">标签3</a></li>
                                    </ul>
                                </div>
                            </pre>
                            <p>注意ui-tab-head和ui-tab-body的列表顺序</p>
                        </div>
                    </div>
                </div>

                <!--表格上方查询-->
                <div>
                    <a class="anchor"></a>
                    <h2>表格上方查询</h2>
                    <div class="demo">
                        <div class="demo-content">
                            <div class="ui-action-menu clearfix">
                                <div class="ui-search clearfix fr">
                                    <input class="input" type="text">
                                    <button class="button-search"></button>
                                </div>
                                <label class="ui-checkbox clearfix fl">
                                    <input type="checkbox">
                                    <i class="ui-checkbox-icon"></i>
                                    全选
                                </label>
                                <button type="button" class="button button-green-hollow">添加</button>
                            </div>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <div class="ui-action-menu clearfix">
                                    <div class="ui-search clearfix fr">
                                        <input class="input" type="text">
                                        <button class="button-search"></button>
                                    </div>
                                    <label class="ui-checkbox clearfix fl">
                                        <input type="checkbox">
                                        <i class="ui-checkbox-icon"></i>
                                        全选
                                    </label>
                                    <button type="button" class="button button-green-hollow">添加</button>
                                </div>
                            </pre>
                        </div>
                    </div>
                </div>

                <!--表格-->
                <div>
                    <a class="anchor"></a>
                    <h2>表格</h2>
                    <p>什么都不带的表格</p>
                    <div class="demo">
                        <div class="demo-content">
                            <table class="tb">
                                <thead class="tb-head">
                                    <tr>
                                        <td>列1</td>
                                        <td>列2</td>
                                        <td>列3</td>
                                        <td>列4</td>
                                        <td>列5</td>
                                        <td>列6</td>
                                    </tr>
                                </thead>
                                <tbody class="tb-body">
                                    <tr>
                                        <td>列1</td>
                                        <td>列2</td>
                                        <td>列3</td>
                                        <td>列4</td>
                                        <td>列5</td>
                                        <td>列6</td>
                                    </tr>
                                    <tr>
                                        <td>列1</td>
                                        <td>列2</td>
                                        <td>列3</td>
                                        <td>列4</td>
                                        <td>列5</td>
                                        <td>列6</td>
                                    </tr>
                                    <tr>
                                        <td>列1</td>
                                        <td>列2</td>
                                        <td>列3</td>
                                        <td>列4</td>
                                        <td>列5</td>
                                        <td>列6</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <table class="tb">
                                    <thead class="tb-head">
                                        <tr>
                                            <td>列1</td>
                                            <td>列2</td>
                                            <td>列3</td>
                                            <td>列4</td>
                                            <td>列5</td>
                                            <td>列6</td>
                                        </tr>
                                    </thead>
                                    <tbody class="tb-body">
                                        <tr>
                                            <td>列1</td>
                                            <td>列2</td>
                                            <td>列3</td>
                                            <td>列4</td>
                                            <td>列5</td>
                                            <td>列6</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </pre>
                        </div>
                    </div>

                    <p>带操作按钮的表格</p>
                    <div class="demo">
                        <div class="demo-content">
                            <table class="tb">
                                <thead class="tb-head">
                                <tr>
                                    <td>列1</td>
                                    <td>列2</td>
                                    <td>列3</td>
                                    <td>列4</td>
                                    <td>列5</td>
                                    <td>列6</td>
                                </tr>
                                </thead>
                                <tbody class="tb-body">
                                <tr>
                                    <td>列1</td>
                                    <td>列2</td>
                                    <td>列3</td>
                                    <td>列4</td>
                                    <td>列5</td>
                                    <td><a class="tb-body-action" href="javascript:;">操作</a></td>
                                </tr>
                                <tr>
                                    <td>列1</td>
                                    <td>列2</td>
                                    <td>列3</td>
                                    <td>列4</td>
                                    <td>列5</td>
                                    <td><a class="tb-body-action" href="javascript:;">操作</a></td>
                                </tr>
                                <tr>
                                    <td>列1</td>
                                    <td>列2</td>
                                    <td>列3</td>
                                    <td>列4</td>
                                    <td>列5</td>
                                    <td><a class="tb-body-action" href="javascript:;">操作</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:html">
                                <table class="tb">
                                    <thead class="tb-head">
                                        <tr>
                                            <td>列1</td>
                                            <td>列2</td>
                                            <td>列3</td>
                                            <td>列4</td>
                                            <td>列5</td>
                                            <td>列6</td>
                                        </tr>
                                    </thead>
                                    <tbody class="tb-body">
                                        <tr>
                                            <td>列1</td>
                                            <td>列2</td>
                                            <td>列3</td>
                                            <td>列4</td>
                                            <td>列5</td>
                                            <td><a class="tb-body-action" href="javascript:;">操作</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </pre>
                        </div>
                    </div>
                </div>

                <!--表单-->
                <div>
                    <h2>表单</h2>
                    <p>什么都不带的表单</p>
                    <div class="demo">
                        <div class="demo-content">
                            <form class="ui-form">
                                <div class="ui-form-group">
                                    <label>文本框的演示</label>
                                    <input type="text" class="input big">
                                </div>
                                <div class="ui-form-group">
                                    <label>下拉的演示</label>
                                    <select class="select big">
                                        <option>下拉的演示</option>
                                        <option>下拉的演示</option>
                                        <option>下拉的演示</option>
                                    </select>
                                </div>
                                <div class="ui-form-group">
                                    <label>checkbox的演示</label>
                                    <div class="ui-checkbox-group">
                                        <label class="ui-checkbox clearfix">
                                            <input name="" type="checkbox">
                                            <i class="ui-checkbox-icon"></i>
                                            这里是checkbox
                                        </label>
                                        <label class="ui-checkbox clearfix">
                                            <input name="" type="checkbox">
                                            <i class="ui-checkbox-icon"></i>
                                            这里是checkbox
                                        </label>
                                        <label class="ui-checkbox clearfix">
                                            <input name="" type="checkbox">
                                            <i class="ui-checkbox-icon"></i>
                                            这里是checkbox
                                        </label>
                                    </div>
                                </div>
                                <div class="ui-form-group">
                                    <label>radio的演示</label>
                                    <div class="ui-radio-group">
                                        <label class="ui-radio clearfix">
                                            <input name="form-radio" type="radio">
                                            <i class="ui-radio-icon"></i>
                                            这里是radio
                                        </label>
                                        <label class="ui-radio clearfix">
                                            <input name="form-radio" type="radio">
                                            <i class="ui-radio-icon"></i>
                                            这里是radio
                                        </label>
                                        <label class="ui-radio clearfix">
                                            <input  name="form-radio" type="radio">
                                            <i class="ui-radio-icon"></i>
                                            这里是radio
                                        </label>
                                    </div>
                                </div>
                                <div class="ui-form-group">
                                    <label>需要验证必填的项目</label>
                                    <div class="ui-form-required">
                                        <select class="select big">
                                            <option>下拉的演示</option>
                                            <option>下拉的演示</option>
                                            <option>下拉的演示</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ui-form-group">
                                    <label>需要验证必填的radio</label>
                                    <div class="ui-form-required">
                                        <div class="ui-radio-group">
                                            <label class="ui-radio clearfix">
                                                <input name="form-radio" type="radio">
                                                <i class="ui-radio-icon"></i>
                                                这里是radio
                                            </label>
                                            <label class="ui-radio clearfix">
                                                <input name="form-radio" type="radio">
                                                <i class="ui-radio-icon"></i>
                                                这里是radio
                                            </label>
                                            <label class="ui-radio clearfix">
                                                <input  name="form-radio" type="radio">
                                                <i class="ui-radio-icon"></i>
                                                这里是radio
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-form-group">
                                    <label>文本域的演示</label>
                                    <div class="ui-form-required">
                                        <textarea class="textarea"></textarea>
                                    </div>
                                </div>
                                <div class="ui-form-group">
                                    <label>超大的文本域的演示</label>
                                    <div class="ui-form-required">
                                        <textarea class="textarea big"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="demo-code">
                                <pre class="brush:html">
                                    <form class="ui-form">
                                        <div class="ui-form-group">
                                            <label>文本框的演示</label>
                                            <input type="text" class="input big">
                                        </div>
                                        <div class="ui-form-group">
                                            <label>下拉的演示</label>
                                            <select class="select big">
                                                <option>下拉的演示</option>
                                                <option>下拉的演示</option>
                                                <option>下拉的演示</option>
                                            </select>
                                        </div>
                                        <div class="ui-form-group">
                                            <label>checkbox的演示</label>
                                            <div class="ui-checkbox-group">
                                                <label class="ui-checkbox clearfix">
                                                    <input name="" type="checkbox">
                                                    <i class="ui-checkbox-icon"></i>
                                                    这里是checkbox
                                                </label>
                                                <label class="ui-checkbox clearfix">
                                                    <input name="" type="checkbox">
                                                    <i class="ui-checkbox-icon"></i>
                                                    这里是checkbox
                                                </label>
                                                <label class="ui-checkbox clearfix">
                                                    <input name="" type="checkbox">
                                                    <i class="ui-checkbox-icon"></i>
                                                    这里是checkbox
                                                </label>
                                            </div>
                                        </div>
                                        <div class="ui-form-group">
                                            <label>radio的演示</label>
                                            <div class="ui-radio-group">
                                                <label class="ui-radio clearfix">
                                                    <input name="form-radio" type="radio">
                                                    <i class="ui-radio-icon"></i>
                                                    这里是radio
                                                </label>
                                                <label class="ui-radio clearfix">
                                                    <input name="form-radio" type="radio">
                                                    <i class="ui-radio-icon"></i>
                                                    这里是radio
                                                </label>
                                                <label class="ui-radio clearfix">
                                                    <input  name="form-radio" type="radio">
                                                    <i class="ui-radio-icon"></i>
                                                    这里是radio
                                                </label>
                                            </div>
                                        </div>
                                        <div class="ui-form-group">
                                            <label>需要验证必填的项目</label>
                                            <div class="ui-form-required">
                                                <select class="select big">
                                                    <option>下拉的演示</option>
                                                    <option>下拉的演示</option>
                                                    <option>下拉的演示</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="ui-form-group">
                                            <label>需要验证必填的radio</label>
                                            <div class="ui-form-required">
                                                <div class="ui-radio-group">
                                                    <label class="ui-radio clearfix">
                                                        <input name="form-radio" type="radio">
                                                        <i class="ui-radio-icon"></i>
                                                        这里是radio
                                                    </label>
                                                    <label class="ui-radio clearfix">
                                                        <input name="form-radio" type="radio">
                                                        <i class="ui-radio-icon"></i>
                                                        这里是radio
                                                    </label>
                                                    <label class="ui-radio clearfix">
                                                        <input  name="form-radio" type="radio">
                                                        <i class="ui-radio-icon"></i>
                                                        这里是radio
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-form-group">
                                            <label>文本域的演示</label>
                                            <div class="ui-form-required">
                                                <textarea class="textarea"></textarea>
                                            </div>
                                        </div>
                                        <div class="ui-form-group">
                                            <label>超大的文本域的演示</label>
                                            <div class="ui-form-required">
                                                <textarea class="textarea big"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </pre>
                        </div>
                    </div>
                </div>

                <!--表单验证-->
                <div>
                    <h2>表单验证</h2>
                    <p></p>
                    <div class="demo">
                        <div class="demo-content">
                            <form id="form" class="ui-form">
                                <div class="ui-form-group">
                                    <label>必填项验证</label>
                                    <input type="text" name="txt_name" class="input big">
                                </div>
                                <div class="ui-form-group">
                                    <label>邮箱验证</label>
                                    <input type="text" name="txt_email" class="input big">
                                </div>
                                <div class="ui-form-group">
                                    <label>数字范围验证</label>
                                    <input type="text" name="txt_number" class="input big">
                                </div>
                                <div class="ui-form-group">
                                    <label>自定义验证</label>
                                    <input type="text" name="txt_define" class="input big">
                                </div>
                            </form>
                        </div>
                        <div class="demo-code">
                                <pre class="brush:html">
                                    <form id="form" class="ui-form">
                                        <div class="ui-form-group">
                                            <label>必填项验证</label>
                                            <input type="text" name="txt_name" class="input big">
                                        </div>
                                        <div class="ui-form-group">
                                            <label>邮箱验证</label>
                                            <input type="text" name="txt_email" class="input big">
                                        </div>
                                        <div class="ui-form-group">
                                            <label>数字范围验证</label>
                                            <input type="text" name="txt_number" class="input big">
                                        </div>
                                        <div class="ui-form-group">
                                            <label>自定义验证</label>
                                            <input type="text" name="txt_define" class="input big">
                                        </div>
                                    </form>
                                </pre>
                            <pre class="brush:js">
                                //引入验证
                                var validatePlugin = require('libs/validate/validatePlugin').ValidatePlugin;
                                //自定义验证方法
                                $.validator.addMethod("txt_define", function(value, element, params) {
                                    return   (new RegExp("123")).test(value);
                                }, $.validator.format("请输入123才能验证通过"));
                                //初始化验证
                                var validate =new ValidatePlugin('#form',{
                                    //验证规则
                                    rules:{
                                        "txt_name":{//对应name="txt_name"的元素
                                            required: true
                                        },
                                        "txt_email":{//对应name="txt_email"的元素
                                            required: true,
                                            email:true
                                        },
                                        "txt_number":{//对应name="txt_number"的元素
                                            required: true,
                                            max:10,
                                            min:0
                                        },
                                        "txt_define":{//对应name="txt_number"的元素
                                            "txt_define":true
                                        }
                                    }
                                });
                                validate.form()//验证表单，返回值为是否验证通过
                            </pre>
                        </div>
                    </div>
                </div>

                <!--弹出框-->
                <div>
                    <h2>弹出框</h2>
                    <p>弹出框主要用的是现成的js插件artdialog，<a class="color-gray" href="http://aui.github.io/artDialog/doc/index.html" target="_blank">查看api请点击</a></p>
                    <p>重写alert，在使用过程中可能会使用alert弹出一个想要别人点击确认的弹出框。</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" onclick="alert('123')">点击打开alert</button>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:js">
                                alert(str,function)
                            </pre>
                        </div>
                        <p>alert方法可以带两个参数，第一个参数是需要显示的消息，第二个参数是点击确定的后的回调函数。</p>
                    </div>
                    <p>重写confirm，重写的window下的confirm方法</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" onclick="confirm('123',function(){},function(){})">点击打开confirm</button>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:js">
                                confirm(str,function,function)
                            </pre>
                        </div>
                        <p>confirm方法可以带三个参数，第一个参数是需要显示的消息，第二个参数是点击确定的后的回调函数，第三个参数是点击取消后的回调。</p>
                    </div>
                    <p>新增tip轻度提示方法</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" onclick="tip('123')">点击打开tip</button>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:js">
                                tip(str)
                            </pre>
                        </div>
                        <p>tip只有一个参数，需要显示的消息，默认两秒后自动消除。</p>
                    </div>
                    <p>新增loading方法开启loading，新增loadingClose方法关闭loading</p>
                    <div class="demo">
                        <div class="demo-content">
                            <button type="button" onclick="loading()">点击打开loading</button>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:js">
                                loading();loadingClose();
                            </pre>
                        </div>
                    </div>
                    <p>常用弹出框</p>
                    <p>常用弹出框一般会在body节点下自己写个div作为弹出框，div需要加上class类名ui-hide用以隐藏该div，必须要先组织好html才能执行弹出框显示方法</p>
                    <div class="demo">
                        <div class="demo-content">
                            <div class="ui-hide" id="dia">
                                <p>这里是要弹出的元素</p>
                            </div>
                            <button type="button" id="diaBtn">点击打开弹出框</button>
                        </div>
                        <div class="demo-code">
                            <pre class="brush:js">
                                dialog({
                                    id:"",//指定在dialog内部建立id，可以通过dialog.get(id)方式获取弹出框
                                    width:100,//指定弹出框的宽度
                                    title:"这里是标题",//指定弹出框标题
                                    content:"",//指定需要显示的内容，可以是语原生的dom对象，也可以是html字符串
                                    ok:function(){},//指定出现确定按钮并且为确定按钮绑定事件,如果不需要执行方法直接赋值为true即可,默认是点击后会马上关闭弹出框,可以通过return false阻止弹出框关闭
                                    cancel:function(){},//指定出现取消按钮并且为取消按钮绑定事件,如果不需要执行方法直接赋值为true即可,可以通过return false阻止弹出框关闭
                                }).showModal()//*指定显示出弹出框
                            </pre>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="fl content-right">
            <ul class="list" id="menuList">

            </ul>
        </div>
    </div>
    <script src="js/lib/sea.js"></script>
    <script src="js/lib/jquery-1.11.3.min.js"></script>

    <script src="js/lib/syntaxhighlighter/shCore.js"></script>
    <script src="js/lib/syntaxhighlighter/shBrushJScript.js"></script>
    <script src="js/lib/syntaxhighlighter/shBrushXml.js"></script>
    <script src="js/lib/syntaxhighlighter/shBrushCss.js"></script>
    <script src="js/lib/GUID.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.config.clipboardSwf = 'js/lib/syntaxhighlighter/clipboard.swf';
        SyntaxHighlighter.all();
    </script>

    <script src="js/config.js"></script>
</body>
</html>