<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="author" content="wangxing">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no">
    <title>尺寸变量列表</title>
    <link rel="stylesheet" href="/css/reset.css"/>
</head>
<body>
    <div id="content" class="content">

    </div>
    <script>
        (function(win) {
            var content = document.getElementById("content");
            var p = "<p>/*手机端尺寸自适应尺寸文件，以640宽度，40px作为最小大小,1px=1/40rem*/</p>";
            var size;
            var reg = /.(0|00|000)$/;
            var header="<%= data.unit %>_";
            for (var i = 1; i <= 400; i++) {
                size = (i / 40).toFixed(3);
                var match=size.match(reg);
                if(match){
                    size=size.substring(0,match.index+1);
                    if(!size.split(".")[1]){
                        size=size.replace(".","");
                    }
                }
                if (parseFloat(size) < 1) {
                    size = size.substring(1, 5);
                }
                p+="<p>"+header+i+":"+size+"rem;</p>";
            }
            content.innerHTML= p;
            alert("请按ctr+a全选复制！");
        })(window)
    </script>
</body>
</html>